/* body {
  display: flex;
  flex-direction: row;
  background-color: rgb(45, 40, 77);
  color: rgb(205, 255, 255);
  font-family: 'Special Elite', cursive;
  justify-content: center;
  text-align: center;
} */

/* .navbtns, .landbtns {
  font-family: 'Special Elite', cursive;
  flex-direction: row;
  background-color: rgb(205, 255, 255);
  color: honeydew;
  width: 100px;
  height: 80px;
  border: 5px;
  margin: 20px;
  padding: 20px;
}

#navlogo {
  max-width: 50px;
}

#landlogo {
width: 300px;
}

.landtextlogo {
  align-content: center;
  justify-content: center;
}

.postcard{
  margin: 50px;
  padding:100px;
  border: solid thin honeydew;;
}

.creatediv{
  height: 400px;
} */